.categorias {
	margin-top: 4rem;
	margin-bottom: 4rem;
	font-family: var(--font-fg-condensed);
}
.categorias__title {
	font-size: 1.625rem;
	margin-bottom: 0.875rem;
}
.categorias__display {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 0 1.2rem;
}
.categorias__display--img {
	width: 100%;
}
.categorias__display--contents {
	position: absolute;
	padding-top: 2rem;
}
.categorias__display--title {
	font-size: 30px;
	font-weight: bold;
	color: white;
	font-weight: bold;
	margin-top: 1.5rem;
}
.categorias__display--subtitulo {
	color: rgb(64, 147, 202);
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 0.4rem;
	line-height: 2rem;
}
.swiper-button-prev-categorias {
	display: block;
	position: absolute;
	top: 45%;
	left: 0;
	z-index: 2;
}
.swiper-button-next-categorias {
	display: block;
	position: absolute;
	top: 45%;
	right: 0;
	z-index: 2;
}

@media screen and (min-width: 768px) {
	.categorias__slides {
		margin-top: 1rem;
	}
	.categorias__display {
		padding: 0 1.5rem;
	}
}

@media screen and (min-width: 1024px) {
	.categorias__title {
		font-size: 2.375rem;
	}
}

@media screen and (min-width: 1400px) {
	.categorias {
		max-width: 1400px;
		margin: 0 auto;
		padding-top: 6.5rem;
	}

	.categorias__display:first-child {
		padding-left: 0;
	}

	.categorias__display:last-child {
		padding-right: 0;
	}
}
