.mais-vendidos {
	display: none;
}
@media screen and (min-width: 1400px) {
	.mais-vendidos {
		display: block;
		margin-bottom: 6rem;
	}
	.swiper-button-prev-mais-vendidos {
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
	}
	.swiper-button-next-mais-vendidos {
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 2;
	}
}
