.product {
	padding: 0 1rem;
	position: relative;
}
.product__title {
	font-size: 2.375rem;
	margin: 3rem 0 2rem 0;
}
.product__content {
	width: 100%;
}
.product__image img {
	width: 100%;
	position: relative;
	margin-bottom: 0.5rem;
}
.product--name {
	margin-top: 0.625rem;
	color: #000;
	font-family: var(--font-he-medium);
	font-size: 0.9rem;
	text-align: center;
	line-height: 1.5rem;
}
.product--price {
	color: rgb(180, 0, 0);
	margin-top: 3px;
	font-family: var(--font-fg-light);
	text-align: center;
}

@media screen and (min-width: 768px) {
	.product__image img {
		width: 100%;
		margin-bottom: 0.5rem;
	}
}
@media screen and (min-width: 1024px) {
	.product {
		padding: 0 3rem;
	}
	.product__image img {
		margin-bottom: 0.5rem;
	}
	.swiper-button-prev-novidades {
		display: block;
		z-index: 2;
	}
	.swiper-button-next-novidades {
		display: block;
	}
}

@media screen and (min-width: 1025px) {
	.product--name {
		font-size: 0.8175rem;
	}
}

@media screen and (min-width: 1400px) {
	.product {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 4rem;
	}
}
